<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

  <!-- Aquí se define a dónde irá el registro de eventos, el "destino". -->
  <targets>
    <target xsi:type="File" name="RegistrarEnArchivo" fileName="nlog-own-${shortdate}.log"
      layout="${longdate}|${event-properties:item=EventId.Id}|${logger}|${uppercase:${level}}|${message} ${exception}" />
             
    <!-- Los eventos registrados en este espacio no serán guardados. -->
    <target xsi:type="Null" name="IgnorarEventos" />
  </targets>

  <rules>
    <!--Enviar todos los eventos que provengan de Microsoft se ignorarán. -->
    <logger name="Microsoft.*" minlevel="Trace" writeTo="IgnorarEventos" final="true" />
    
    <!--Enviar todos los eventos restantes al "destino".. -->
    <logger name="*" minlevel="Trace" writeTo="RegistrarEnArchivo" />
  </rules>
</nlog>